@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    color: #333;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* ------------------------------------------------------------ */

#protectList-wrap {
    margin: 30px auto;
    width: 1200px;
}

#banner-section {
    width: 400px;
    height: 55px;
    display: flex;
    border: 2px solid #d2d2d2;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}
.type-outline {
    width: 33.34%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #d2d2d2;
}
.type-outline:last-of-type {
    border-right: none;
}
.type-outline > .active {
    background-color: #ffd8e6;
}
.type {
    width: 115px;
    height: 40px;
    /* border: 2px solid #d2d2d2; */
    background-color: #ebebeb;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.2s all;
    cursor: pointer;
}
.type:hover {
    background-color: #ffd8e6;
}

/* ------------------------------------------------------------ */

#list-section {
    border: 2px solid #d7d7d7;
    border-radius: 0 5px 5px 5px;
}
#list-wrap {
    width: 1120px;
    margin: 40px auto;
    text-align: center;
    font-size: 18px;
}
#thead {
    display: flex;
    align-items: center;
    height: 60px;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
    background-color: rgb(218, 218, 218);
}
.list-content {
    height: 70px;
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid rgb(180, 180, 180);
    border-left: 1px solid rgb(180, 180, 180);
    border-right: 1px solid rgb(180, 180, 180); */
    border-bottom: 2px solid #e9e9e9;
    border-left: 2px solid #e9e9e9;
    border-right: 2px solid #e9e9e9;
    transition: 0.2s all;
}
.list-content > * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list-content:last-child {
    border-radius: 0 0 5px 5px;
}
.list-content:hover {
    background-color: #f0f0f0;
}
.list-content:hover > .content-title > a {
    text-decoration: underline;
    text-underline-position: under;
    font-weight: 500;
    cursor: pointer;
}
#list-wrap p:nth-of-type(1) {
    width: 10%;
}
#list-wrap p:nth-of-type(2) {
    width: 25%;
}
#list-wrap p:nth-of-type(3) {
    width: 35%;
}
#list-wrap p:nth-of-type(4) {
    width: 30%;
}

#wirteBtn {
    padding: 10px;
    border: 2px solid #d7d7d7;
}

/* ------------------------------------------------------------ */

#pagination-wrap {
    margin: 60px 0 40px;
    display: flex;
    justify-content: center;
}
#pagination-content {
    display: flex;
    border: 2px solid #d7d7d7;
    border-radius: 5px;
}
#pagination-content > li {
    width: 45px;
    height: 45px;
    font-size: 18px;
    line-height: 45px;
    border-right: 2px solid #d7d7d7;
    transition: 0.2s all;
}
#pagination-content > li:hover {
    background-color: #ececec;
}
#pagination-content > li:first-of-type {
    border-radius: 3px 0 0 3px;
}
#pagination-content > li:last-of-type {
    border-right: none;
    border-radius: 0 3px 3px 0;
}
#pagination-content > li > a {
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
}
