@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    color: #333;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* ------------------------------------------------------------ */

#togetherList-wrap {
    margin: 30px auto;
    width: 1200px;
}

#banner-section {
    width: 400px;
    height: 55px;
    display: flex;
    border: 2px solid #d2d2d2;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}
.type-outline {
    width: 33.34%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #d2d2d2;
}
.type-outline:last-of-type {
    border-right: none;
}
.type-outline > .active {
    background-color: #c0eecc;
}
.type {
    width: 115px;
    height: 40px;
    /* border: 2px solid #d2d2d2; */
    background-color: #ebebeb;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.2s all;
    cursor: pointer;
}
.type:hover {
    background-color: #c0eecc;
}

/* ------------------------------------------------------------ */

#list-wrap {
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 40px;
}
.list-content {
    position: relative;
}
.list-content > a {
    width: 212px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    background-color: #f0f0f0;
    border-radius: 10px;
    transition: 0.2s all;
}
.list-content > a:hover {
    border: 1px solid #898989;
}
.content-title {
    width: 160px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.content-img {
    width: 160px;
    height: 225px;
    margin-bottom: 10px;
    background: url(../img/imageSrc.png) no-repeat center / cover;
    border-radius: 5px;
}
.content-period {
    font-size: 15px;
}
.content-zzimBtn {
    position: absolute;
    bottom: 77px;
    right: 15px;
}
svg {
    width: 35px;
}
#heart {
    fill: white;
    stroke: #333;
    stroke-width: 60px;
    cursor: pointer;
    transition: 0.2s all;
}
#heart:hover {
    fill: rgb(255, 80, 80);
}

/* ------------------------------------------------------------ */

#pagination-wrap {
    margin: 30px 0 40px;
    display: flex;
    justify-content: center;
}
#pagination-content {
    display: flex;
    border-radius: 5px;
}
#pagination-content > li {
    font-size: 16px;
    line-height: 45px;
    transition: 0.2s all;
}
#pagination-content > li > a:hover {
    background-color: #c0eecc;
    border-radius: 50%;
}

#pagination-content > li > a {
    display: block;
    height: 35px;
    width: 35px;
    margin: 0 3px;
    text-align: center;
    line-height: 35px;
}
